html{
    margin: 0;
    padding: 0;
}

body{
    font-size: 30px;
    font-family: sans-serif;
    color: #776B5D;
    background-color:#F3EEEA;
}

.container{
    margin: 0 auto;
    max-width: 100%;
    overflow: hidden;
}

header, footer{
    max-width: 1200px;
    margin: 0 auto;
}

/* header{
    text-align: center;
} */

.block {
    background-color: white;
    margin: 10px 10px 20px;
    border-radius: 40px;
    padding: 10px 0px;
    text-align: center;
}



.link{
    text-decoration: none;
    color: #776B5D;
    font-size: 30px;
    opacity: 1;
    display: inline-block;
}
.menu li{
    text-align: center;
    list-style: none;
    padding: 8px;
}

.menu a{
    text-decoration: underline;
}

.menu ul{
    padding: 0;
    margin: 10px 10px;
}

.title{
    text-align: center;
}


header span{
    font-style: italic;
    display: block;
    margin-bottom: 10px;
}

h1{
    font-size: 60px;
    border-bottom: 4px dotted dimgray;
    width: 60%;
    margin: 0 auto 20px auto;
    padding-bottom: 20px;
    overflow: hidden;
}

h1, h2{
    text-transform: uppercase;
}


.matrix{
    border: 3px solid #776B5D;
    margin-bottom: 10px;
    border-radius: 40px;
    max-width: 100%;
}

.list{
    background-color: white;
    border-radius: 40px;
}

@media(max-width:1024px){
    .matrix{
        width: 99%;
    }
    body {
        font-size: 17px;
    }
    h1 {
        font-size: 50px;
        width: 90%;
        padding: 10px 0;
        margin: 0 auto 10px auto;
    }
    
}