@import url(../../css/grid.css);

h1{
    padding: 40px 0 10px;
}



.block span{
    font-style: italic;
}

main{
    text-align: center;
}

.block p{
    text-align: left;
}

/* .dark-block{
    padding: 20px;
    margin-bottom: 10px;
} */

@media (max-width:1024px) {

    .matrix{
     margin: 0;
     padding: 0;
     min-width: 100%;
     }
     .block p{
    padding: 5px 5px 10px 0;
    }
    .open{
    margin: 0;
    padding: 5px 0;
    
    }
    .open ul{
        padding: 0;
        margin-left: 30px;
        margin-bottom: 10px;
    }
.open p{
    margin: 0 20px;
    }
    .block{
        margin-top: 0px;
        margin-bottom: 5px;
    }
    .title{
        margin-bottom: 5px;
    }
    .dark-block{
        padding: 10px;
        margin-bottom: 5px;
    }
    .grid-container{
        padding: 5px;
    }
}