@import url(./default.css);

.block h4{
    text-align: left;
}

ol a{
    color: #FDFFAE;
}

.matrix{
    margin: 0;
    padding-bottom: 0;
}


@media (max-width: 1024px){
    .title{
        padding: 5px 0 0px 0px;
    }
}